*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sky{
    height:30vh;
    width: 100%;
    background-color: #A5CBE3;
}
.ocean{
    height: 70vh;
    width: 100%;
    background-color: #2663d3;
    border-top:2px solid black ;
}
.shark{
    height: 250px;
    width: 320px;
    position: absolute;
    left: 40%;
    top:40%
}
.shark-body{
    height: 200px;
    width: 320px;
    background-color: #999999;
    clip-path: polygon(0% 50%, 100% 50%, 100% 90%, 70% 70%, 90% 100%, 0% 100%);
    border-radius: 50%;
    z-index: 1;
    border: 2px solid black;
}
.shark-eye{
    height: 20px;
    width: 21px;
    background:radial-gradient(circle at 55% 45% ,white 14%,black 0);
    position: relative;
    clip-path: circle(6px at 70% 50%);
    left: 280px;
    bottom:80px
}
.fin{
    height: 50px;
    width: 60px;
    background-color: #999999;
    border-radius: 0 100% 0 0;
    border:2px solid black;
    border-bottom: none;
    position: absolute;
    left: 150px;
    bottom: 149px;
}
.fin1{
    height: 50px;
    width: 60px;
    background-color: #828080;
    border-radius: 0 0 100% 0;
    border:2px solid black;
    border-top: none;
    position: absolute;
    transform: rotate(360deg);
    left: 149px;
    bottom: 20px;
}
.tail{
    height: 10px;
    width: 20px;
    /* background-color: black; */
    border-bottom: 60px solid #999999;
    border-right: 30px solid transparent;
    transform: rotate(-20deg);
    position: absolute;
    left: -29px;
    bottom: 140px;
}
.tail1{
    height: 10px;
    width: 20px;
    /* background-color: black; */
    border-bottom: 60px solid #999999;
    border-right: 30px solid transparent;
    transform: rotate(-140deg);
    position: absolute;
    left: -36px;
    bottom: 95px;
}
.bubbles{
    height: 20px;
    width: 20px;
    clip-path: circle(6px at 50% 50%);
    background-color: #93c5e4;
    position: absolute;
    left: 275px;
    bottom: 170px;
}
.bubbles1{
    height: 20px;
    width: 20px;
    clip-path: circle(4px at 50% 50%);
    background-color: #93c5e4;
    position: absolute;
    left: 260px;
    bottom: 160px;
}
.bubbles2{
    height: 20px;
    width: 20px;
    clip-path: circle(7px at 50% 50%);
    background-color: #93c5e4;
    position: absolute;
    left: 270px;
    bottom: 150px;
}
.line{
    width: 15px;
    height: 50px;
    background-color: #999999;
    border-radius: 100% 0% 0% 100%;
    border: 2px solid rgb(48, 46, 46);
    border-top: none;
    border-bottom: none;
    border-right: none;
    position: absolute;
    left: 190px;
    bottom: 80px;
}
.line1{
    width: 15px;
    height: 48px;
    background-color: #999999;
    border-radius: 100% 0% 0% 100%;
    border: 2px solid rgb(48, 46, 46);
    border-top: none;
    border-bottom: none;
    border-right: none;
    position: absolute;
    left: 175px;
    bottom: 80px;
}
.line2{
    width: 15px;
    height: 48px;
    background-color: #999999;
    border-radius: 100% 0% 0% 100%;
    border: 2px solid rgb(48, 46, 46);
    border-top: none;
    border-bottom: none;
    border-right: none;
    position: absolute;
    left: 160px;
    bottom: 80px;
}